#*
GOMAP-0.3_GOMAP-input/input/
GOMAP-0.3_GOMAP-input/gaf/
GOMAP-0.3_GOMAP-input/logs/
GOMAP-0.3_GOMAP-input/*yml
GOMAP-0.3_GOMAP-input/tmp/seq-sim/tair/
GOMAP-0.3_GOMAP-input/tmp/domain/iprs/split/0.3_GOMAP-input.1*
GOMAP-0.3_GOMAP-input/tmp/domain/iprs/0.3_GOMAP-input*
GOMAP-0.3_GOMAP-input/tmp/domain/iprs/temp/
GOMAP-0.3_GOMAP-input/tmp/mixed-meth/preprocess/blast/temp/*fa
GOMAP-0.3_GOMAP-input/tmp/mixed-meth/preprocess/blast/temp/*tsv
GOMAP-0.3_GOMAP-input/tmp/mixed-meth/preprocess/blast/temp/0.3_GOMAP-input.1.xml
GOMAP-0.3_GOMAP-input/tmp/mixed-meth/fanngo/
GOMAP-0.3_GOMAP-input/tmp/mixed-meth/pannzer/
GOMAP-0.3_GOMAP-input/tmp/mixed-meth/argot2.5/blast/
GOMAP-0.3_GOMAP-input/tmp/mixed-meth/argot2.5/hmmer/
GOMAP-0.3_GOMAP-input/tmp/mixed-meth/argot2.5/html/
test.py