#Things that are important
!.gitignore

#things that we don't want to have in the repository
venv*
input/*
*pycache*
*tmp*
*log
.ipynb*
.R*
*.ipynb
*fa
*.fa.gz
*SBATCH*
*pyc
sync2iplant*
dir2sync.txt
start_interact.sh
temp/*
config.job
load_modules.sh
maize.B73.AGPv4.json
test.job
test.json
jupyter-reqs
data/*
software/
